:root {
  --z-index-max: 999;
}

.z-context-menu {
  z-index: calc(var(--z-index-max) - 3);
}

.z-prompt {
  z-index: 2;
}

.z-workbench {
  z-index: 3;
}

.z-file-tree-breadcrumb {
  z-index: calc(var(--z-index-max) - 1);
}
